.Loader {
  align-items: center;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: fixed;
  right: 0;
  width: calc(100% - 24rem);
}

.Loader__logo--box {
  box-shadow: 0px 0px 50px 0px #c6f1e7;
  width: 14rem;
  margin-bottom: 5rem;
  border-radius: 50%;
  overflow: hidden;
  font-size: 0;
}

.Loader__heading {
  font-family: raleway-extra-bold;
  font-size: 4rem;
  letter-spacing: 0.5rem;
  margin: 0;
}

.Loader__wrapper {
  align-items: center;
  border-radius: 0.4rem;
  justify-content: center;
  min-height: 20vh;
  overflow: hidden;
  padding: 0;
  position: relative;
  text-align: center;
  width: 80%;
}

.Loader__wrapper--light {
  align-items: center;
  background: #333333;
  border-radius: 50%;
  height: 3rem;
  justify-content: center;
  margin: 1rem;
  width: 3rem;
}

.Loader__wrapper--light-bulb {
  background: radial-gradient(
    circle at center top,
    rgb(255, 255, 255),
    rgb(8, 253, 216)
  );
  /* border: 3px solid #ffffff; */
  border-radius: 50%;
  box-shadow: 0px 4px 10px rgb(255 251 204 / 20%);
  height: 3rem;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  width: 3rem;
}

.Loader__wrapper--light-bulb.on {
  opacity: 1;
  /* border: 3px solid rgb(26, 26, 26); */
}
