.SideNav {
  background-color: #181818;
  left: 0;
  position: fixed;
  width: 24rem;
}

.SideNav > div {
  height: 33.33333333vh;
}

.SideNav__Logo--wrapper {
  display: flex;
  flex-direction: column;
  height: calc(33.33333333vh - 4rem) !important;
  justify-content: center;
  padding: 2rem;
}

.SideNav__Logo {
  display: block;
  font-size: 0;
}

.SideNav__Logo a {
  display: block;
}

.SideNav__Logo--title {
  font-family: raleway-bold;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

.SideNav__Links--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.SideNav__Links {
  border-top: 1px solid #282828;
  color: #909096;
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.SideNav__Links:nth-last-child(1) {
  border-bottom: 1px solid #282828;
}

.SideNav__Links:hover {
  color: #08fdd8;
}

.SideNav__Links.active {
  background: #08fdd8;
  color: #282828;
  font-weight: bold;
}

.SideNav__SocialMedia--wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SideNav__SocialMedia--wrapper > span {
  margin-bottom: 2rem;
}

.SideNav__SocialMedia--wrapper > span:nth-last-child(1) {
  margin: 0;
}

.SideNav__SocialMedia--link {
  align-items: center;
  border: 2px solid #08fdd8;
  border-radius: 50px;
  color: #08fdd8;
  display: flex;
  padding: 5px;
}

.SideNav__SocialMedia--link:nth-child(2) {
  margin: 1.5rem 0;
}

.SideNav__SocialMedia--link p {
  font-size: 0rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}

.SideNav__SocialMedia--link p.elastic {
  font-size: 1.6rem;
  letter-spacing: 1px;
  padding: 0 1.5rem;
}

.SideNav__SocialMedia--box {
  background-color: #909096;
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px #909096;
  opacity: 0.5;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.SideNav__SocialMedia--link:hover .SideNav__SocialMedia--box {
  background-color: #08fdd8;
  box-shadow: 0px 0px 10px 0px #08fdd8;
  color: #909096;
  opacity: 1;
}

.SideNav__SocialMedia {
  display: inline-block;
  padding: 1rem;
  width: 3rem;
  height: 3rem;
}

.SideNav__SocialMedia .fa-brands {
  color: #282828;
  font-size: 3rem;
}
