.SideNav {
  background-color: #181818;
  width: 24rem;
}

.SideNav__Logo--wrapper {
  padding: 2rem;
}

.SideNav__Logo {
  display: block;
  font-size: 0;
}

.SideNav__Logo a {
  display: block;
}

.SideNav__Logo--title {
  font-family: raleway-bold;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}
