/* @import './App.css';
@import '../src/components/Home/Home.css';
@import '../src/components/Loader/Loader.css';
@import '../src/components/MainContent/MainContent.css';
@import '../src/components/SideNav/SideNav.css'; */

@font-face {
  font-family: raleway-black;
  src: url(./resources/fonts/Raleway-Black.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(./resources/fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: raleway-extra-bold;
  src: url(./resources/fonts/Raleway-ExtraBold.ttf);
}

@font-face {
  font-family: raleway-extra-light;
  src: url(./resources/fonts/Raleway-ExtraLight.ttf);
}

@font-face {
  font-family: raleway-light;
  src: url(./resources/fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: raleway-medium;
  src: url(./resources/fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: raleway-regular;
  src: url(./resources/fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: raleway-semi-bold;
  src: url(./resources/fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: raleway-thin;
  src: url(./resources/fonts/Raleway-Thin.ttf);
}

html {
  font-size: 62.5%;
}

body {
  background: #1d1d1d;
  color: #ffffff;
  font-family: raleway-medium;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.section-full {
  height: 100vh;
}
